
@font-face {
        font-family: "rabiohead";
        src: url("../fonts/rabiohead.ttf") format("truetype");
    }

@font-face {
        font-family: "thunder";
        src: url("../fonts/thunder.ttf") format("truetype");
    }
html,body{
	height: 100%;
	width: 100%;
	background-image: url("../img/madera.jpg");
    margin: 0;
}

nav{
	background-color: #ff485b !important;	
}

.full-page{
 
    width: 100% !important;
}

.img-wrapper{
	margin-top: 50px !important;
}
.logo-center{
    display: block;
    margin: 0 auto;
    width: 20%;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.logo-nav{
    height: 180px;
    padding-left: 52px;
}
/*.adobo{
    height: 80%;
    width: 80%;
}*/
/*@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .logo-nav{
        height: 160px;
        padding-left: 52px;
    }
}*/

@media only screen and (min-width: 1500px) {
      .logo-nav{
        height: 240px;
        padding-left: 52px;
    }
    .adobo{
        height: 80% !important;
        width: 80% !important;
    }
    .artesanal{
        width: 40%;
        height: 40%;
        margin-left: -700px;
    
    }

    .numero1{
        padding-left: 670px;
    }
    .numero2{
        padding-left: 370px;
    }
}

#menu{
	margin-right: 30px;
}
.titulo{
    font-family: "thunder";
    font-size: 5.5rem !important;
    padding-top: 140px;
    color: #66322f;
}
.promo{
    text-align: center;
}

.titulo-artesanal{
    font-family: "rabiohead";
    font-size: 4.5rem !important;
    color: #ff485b;
}

.artesanal{
    width: 40%;
    height: 40%;
    margin-left: -350px;
    
}

.numero1{
    padding-left: 370px;
}
.numero2{
    padding-left: 270px;
}
.panes{

    height: 90%;
    width: 90%;
}

.quesos{
    height: 55%;
    width: 55%;
}

.panes-letter{
    font-family: "rabiohead";
    color: #ff485b;
    font-size: 2rem;
}

#nigga{
    padding-top: 160px;
}